# Executables
gl_report
gl_db
gl_user
gl_term
unittests
!progs/gl_report
!progs/gl_db
!progs/gl_user
!progs/gl_term
!progs/unittests
.DS_Store
._.DS_Store

# Doxygen folders
html
latex
docs/._refman.pdf

# Compiled Object files
*.slo
*.lo
*.o

# Dependencies files
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# gcov and gprof files
*.gcno
*.gcda
gmon.out
run_profile

# Vim swap files
*.swp

# tags file
tags

# Backup files
*~
